@page "/"


<div id="target" style="height:100%">

    <SfDialog Height="35%" Width="435px" Target="#target" ShowCloseIcon="true">
        <DialogTemplates>
            <Header>
                <span class="e-avatar template-image e-avatar-xsmall e-avatar-circle"></span>
                <div id="template" class="e-icon-settings">Nancy</div>
            </Header>
            <Content>
                <div class="dialogContent">
                    <span class="dialogText">
                        Greetings Nancy! When will you share me the source files of the project?
                    </span>
                </div>
            </Content>
            <FooterTemplate>
                <SfTextBox Type="InputType.Text" Placeholder="Enter your message here!"></SfTextBox>
                <div id="sendButton">
                    <SfButton CssClass="e-primary" Content="Send"></SfButton>
                </div>
            </FooterTemplate>
        </DialogTemplates>
    </SfDialog>
</div>

<style>

    #sendButton {
        top: 2px;
        position: relative;
    }

    .e-footer-content .e-input-group {
        width: 75%;
        float: left;
    }

    .e-dialog .e-footer-content {
        border-top: 0.5px solid rgba(0, 0, 0, 0.42);
        padding: 15px;
    }

    .dialogContent .dialogText {
        background-color: #f5f5f5;
    }

    .e-dialog .e-dlg-header-content .e-dlg-header .e-avatar.template-image {
        background-image: url("https://ej2.syncfusion.com/demos/src/dialog/images/1.png");
        vertical-align: middle;
        display: inline-block;
        width: 36px;
        height: 36px;
    }

    .e-dialog .e-dlg-header-content {
        background-color: #3f51b5;
    }

        .e-dialog .e-dlg-header-content .e-icon-dlg-close {
            color: #fff;
        }

        .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:active .e-icon-dlg-close,
        .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:focus .e-icon-dlg-close,
        .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:hover .e-icon-dlg-close {
            color: #fff;
        }

    .e-dlg-header .e-icon-settings, .e-icon-btn {
        color: #fff;
    }


    #target {
        min-height: 400px;
    }


    .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
        top: 5px;
        left: -11px;
    }

    .e-dialog .e-dlg-header {
        position: relative;
    }

    .e-dialog .e-dlg-content {
        padding: 0 !important;
    }

    .e-dialog .e-dlg-header-content {
        padding: 6px;
    }

    #template {
        display: inline-block;
        padding: 0px 10px;
        vertical-align: middle;
        height: 40px;
        line-height: 40px;
    }

    .e-icon-settings.e-icons {
        float: left;
        position: relative;
        left: 14%;
        top: -33px;
    }

    .dialogContent .dialogText {
        font-size: 13px;
        padding: 5%;
        word-wrap: break-word;
        border-radius: 6px;
        text-align: justify;
        font-style: initial;
        display: block;
    }

    .dialogContent {
        display: block;
        font-size: 15px;
        word-wrap: break-word;
        text-align: center;
        font-style: italic;
        border-radius: 6px;
        padding: 3%;
        position: relative;
        top: 25px;
    }
</style>
